ul li a.active {
  position: relative;
  background: linear-gradient(to right, #7e22ce, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul li a.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, #7e22ce, #a855f7);
  border-radius: 2px;
}
